extends layout

block content
  p.lead Welcome to Bablog

block sidebar
  ul.nav.flex-column
    li.nav-item
      a.nav-link(href='/posts') See posts
    li.nav-item
      a.nav-link(href='/posts/new') New post
