extends ../layout

block content
  each post in posts
    .card
      .card-body
        h4.card-title= post.attributes.title
        .card-subtitle.timemark= 'Created: ' + post.date_created()
        .card-subtitle.author= 'Author: ' + post.relations.user_owner.attributes.name
        .card-text= post.attributes.body

block sidebar
  ul.nav.flex-column
    li.nav-item
      a.nav-link(href='/posts/new') New post
