extends ../layout

block content
  each post in posts
    .card
      .card-body
        h4.card-title= post.attributes.title
        .card-text= post.attributes.body

block sidebar
  ul.nav.flex-column
    li.nav-item
      a.nav-link(href='/posts/new') New post
